body{
    background-color: rgba(12, 122, 122, 0.623);
    font-family: 'Bruno Ace SC', cursive;
}
h1{
    margin-left: 280px;
}
.hoteis{
 margin-left: 25px;
}
.restaurantes{
    margin-left: 325px;
    margin-top: -360px;
}
.shopping{
    margin-left: 625px;
    margin-top: -360px;
    
}
.parques{
    margin-left: 25px;
}
.footer{
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(30, 156, 156, 0.445);
    color: #f50101;
    box-sizing: border-box;
    box-shadow: black;
    
}